.horizontal-navbar{
    display: flex;
 
}

.horizontal-navbar div {
    width: 100%; 
}
.horizontal-navbar>div>ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.horizontal-navbar a{
    text-decoration:none;
    color: inherit;
}
.horizontal-navbar li{
    list-style-type: none;
    padding: 10px;
}

.horizontal-navbar li:hover{
    background-color: skyblue;
}

.horizontal-navbar li button{
    background-color: none;
    border-width: 0px;
    font-family: inherit;
    font-size: inherit;

}
.horizontal-navbar .dropdown-list{
    display: none;
}

.horizontal-navbar .dropdown-list ul{
    padding: 0;
}

.horizontal-navbar .dropdown-list ul li{
    padding: 10px;
}

.horizontal-navbar .dropdown-list.show, .dropdown-hover:hover .dropdown-list{
    display: block;
    position: absolute;
    padding: 5px;
    width: fit-content;
}



