body{
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: relative;
}

.container .card-slider{
    width: 100%;
    position: relative;
}

.card-slider .image-container{
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    list-style-type: none;

}

.card-slider .card-slider-button{
    position: absolute;
    top: 50%;
    height: 1rem;
    border: none;
    background-color: transparent;
    height: fit-content;
}

.card-slider .card-slider-button:hover svg{
    scale: 1.2;
}

.card-slider #card-slider-before{
    left: 1rem;
}

.card-slider #card-slider-next{
    right: 1rem;
}


.card-slider .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
    border: 1px slateblue solid;
    flex-shrink: 0;
}