:root {
    --primary-bg: #cdf9fe;        /* Bright Aqua - Background */
    --accent-color: #b5f7ff;      /* Vivid Cyan - Accent */
    --button-color: #425afa;      /* Deep Purple - Button */
    --button-hover: #d15ce5;      /* Bright Purple - Button Hover */
    --text-color: #2a3163;        /* Indigo - Text */
}

@font-face {
    font-family: 'Fredoka';
    src: url('./Fredoka-VariableFont_wdth\,wght.ttf'),
}

body {
    font-family: 'Fredoka';
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(50px, 5%) 95%;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    background-color: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
}

h1{
    font-size: 1.2rem;
    font-weight: 500;
}

h3{
    font-weight:500;
    margin:0;
}

h4{
    font-weight:400;
}

button, #add-task{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--button-color);
    box-shadow: 2px 2px 3px rgba(180, 180, 180, 0.582);
    font-family: inherit;
}


.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 1rem;
    padding: 1rem;
}

.content h2{
    grid-column: -1/1;
    color: var(--text-color);
    margin: 0;
}

.content h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #ead7ef;
    margin-bottom: 5px;
}

.content > div {

    flex-wrap: wrap;
    background-color: white;
    align-content: baseline;
    gap: 5px; 
    padding: 0.5rem; 
    border-radius: 5px;
    border-left: 2px #2a3163 solid
}

.content > div > div {
    display: flex;
    gap: 5px;
}
.content > div > div > div{
    width: 125px;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
    border: var(--button-color) 1px solid;
    position: relative;
    color:#383838;
}

.content .done {
    background-color: rgb(209, 209, 209);
    text-decoration: line-through;
    border: none;
}

.content > div > div p, .content > div > div h4{
    pointer-events: none;
    margin: 0;
}

.content > div > div > div input{
    position: absolute;
    right: 5%;
    top: 5%;
}

.header {
    grid-area:header;
    padding: 1rem 1rem 0 1rem;
    color: var(--text-color);
}

#new-task-form {
    width: fit-content;
    padding: 10px 20px;
    border: solid 1px var(--accent-color);
    border-radius: 5px;
    position: fixed;
    top: 10vw;
    left: 40vw;
    background-color: white;
    display: none;
    box-shadow: 0 0 20px #989797d4;
}

#new-task-form div, .task-modal div{
  padding: 5px 0;
}


#new-task-form div label, .task-modal label{
    width: 100px;
    text-align: left;
    display: inline-block;
}

#new-task-form button{
    float: right;
    margin-top: 0.5rem;
    background-color: var(--button-color);

    color: white;
}

.sidebar {
    grid-area: sidebar;
    padding: 10px;
    height: 98vh;
    background-color: white;
    box-shadow: 5px 0 10px rgb(182 200 203 / 43%);
}

.sidebar ul li{
    list-style-type: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
    cursor: pointer;
}

 .sidebar li.focus, .sidebar li:hover{
    background-color: var(--accent-color);
}


.sidebar button{
    background-color: var(--button-color);
    color: white;
    display: flex;
    gap: 3px;
    font-size: 16px;
}

.sidebar button svg {
    max-width: 1rem;
    max-height: 1rem;
    fill: white;
}

.sidebar #add-task{
    border: 1px solid var(--button-color);
    width: fit-content;
    background-color: white;
}

.task-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 20vw;
    top: 10vw;
    left: 45vw;
    background-color: blanchedalmond;
    box-shadow: 4px 2px 4px rgba(197, 197, 197, 0.705), -4px -2px 4px rgba(197, 197, 197, 0.705);
    padding: 10px;
    border-radius: 10px;
}

button:hover, #add-task:hover{
    background-color: var(--button-hover);
    cursor: pointer;
    color: white;
    scale: 1.02;
}