:root {
    --primary-bg: #E0F7FA;        /* Bright Aqua - Background */
    --accent-color: #80DEEA;      /* Vivid Cyan - Accent */
    --button-color: #425afa;      /* Deep Purple - Button */
    --button-hover: #9C27B0;      /* Bright Purple - Button Hover */
    --text-color: #2a3163;        /* Indigo - Text */
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
    background-color: var(--primary-bg);
    color: var(--text-color);
}

button, #add-task{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--button-color);
}




.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.content h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #c6b7a3;
    margin-bottom: 5px;
}
.content > div {

    flex-wrap: wrap;
    border: 1px solid var(--button-hover);
    background-color: var(--primary-bg);
    align-content: baseline;
    gap: 5px; 
    padding: 0.5rem; 
    border-radius: 10px;
}

.content > div > div {
    display: flex;
}
.content > div > div > div{
    width: 125px;
    background-color: white;
    color: var(--text-color);
    border-radius: 10px;
    padding: 0.5rem;
    border: var(--button-color) 1px solid;
    position: relative;
}

.content .done {
    background-color: rgb(209, 209, 209);
    text-decoration: line-through;
    border: none;
}

.content > div > div p {
    pointer-events: none;
}

.content > div > div > div input{
    position: absolute;
    right: 5%;
    top: 5%;
}

.header {
    grid-area:header;
    
    
}

#new-task-form {
    width: fit-content;
    padding: 10px 20px;
    border: solid 1px var(--accent-color);
    border-radius: 5px;
    position: fixed;
    top: 10vw;
    left: 40vw;
    background-color: white;
    display: none;
}

#new-task-form div, .task-modal div{
  padding: 5px 0;
}


#new-task-form div label, .task-modal label{
    width: 100px;
    text-align: left;
    display: inline-block;
}

#new-task-form button{
    float: right;
    margin-top: 0.5rem;
    background-color: var(--button-color);

    color: white;
}

.sidebar {
    grid-area: sidebar;
    padding: 10px;
    border-right: 2px solid var(--button-color);
    height: 90vh;
}

.sidebar ul li{
    list-style-type: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.sidebar button{
    background-color: var(--button-color);
    color: white;
    
}

.sidebar #add-task{
    border: 1px solid var(--button-color);
    box-shadow: 2px 2px grey;
    width: fit-content;
    background-color: white;
}

.task-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 20vw;
    top: 10vw;
    left: 45vw;
    background-color: blanchedalmond;
    box-shadow: 4px 2px 4px gray;
    padding: 10px;
    border-radius: 10px;
}

button:hover, #add-task:hover{
    background-color: var(--button-hover);
    cursor: pointer;
    color: white;
    scale: 1.02;
}